img { width:600 }
 body {
  background-image: url("רקע 2.jpg") ; background-position: right top;
  background-attachment: fixed;
}

.red {font-size: 28px}
#spacial {font-size: 32px}
.centered-text {    
  text-align: center;
 
